1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
tup = ()
for i in range(1,101): 
    rem1 = i%3
    rem2 = i%5
    if rem1 == 0 and rem2 != 0:
        a = ("Hello")
        tup += ("Hello",)
    elif rem1 != 0 and rem2 == 0:
        a =  ("World")
        tup += ("World",)
    elif rem1 == 0 and rem2 == 0:
        a = ("Hello World")
        tup += ("Hello world",)
    else:
        a = (i)
        tup += (i,)
    
    print (a)
    
list_change = list(tup)  #The tuples object are not changable, so I need to use a list
newTup = ()
for i in range(len(list_change)):
    if list_change[i] == "Hello":
        newTup += (list_change[i].replace('Hello','Python'),)
    elif list_change[i] == "World":
        newTup += (list_change[i].replace('World','Works'),)
    else:
        newTup += (list_change[i],)
        
print(newTup)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello World
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello World
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello World
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello World
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello World
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello World
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Hello world', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Hello world', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Hello world', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Hello world', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Hello world', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Hello world', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
x = 100
y = "Hello"

a = 55
b = "world"

print("x, y:")
print(x,y)

temp = y #Swap with temporary variable
y = x
x = temp

print("Swap with temporary variable, x, y:")
print(x,y)

print("a, b:")
print(a,b)

a, b = b, a #Swap without temporary variable

print("Swap without temporary variable, a, b:")
print(a,b)

x, y:
100 Hello
Swap with temporary variable, x, y:
Hello 100
a, b:
55 world
Swap without temporary variable, a, b:
world 55

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import numpy
def distance(u,v):
    try:
        c1 = v[0]-u[0]
        c2 = v[1]-v[0]
        dd = c1*c1 + c2*c2
        d = numpy.sqrt(dd)
        print(d)
        
    except:
        print("Invalid input")
        
    
u = (3,0)
v = (0,4)

distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."


S = s.upper() 
sset = set()

for i in S:           #I have used a set because the duplicates are not allowed.
    if i != " ":
        sset.add(i)   #I will not count the space.
    
for j in sset:
    
    count = 0
    
    for k in S:
        
        if j == k:
            count = count + 1
            
    print(str(j) + " occurs " + str(count) + " times")

W occurs 4 times
I occurs 12 times
G occurs 1 times
F occurs 10 times
B occurs 5 times
E occurs 20 times
D occurs 5 times
N occurs 10 times
S occurs 7 times
A occurs 7 times
. occurs 3 times
M occurs 8 times
R occurs 19 times
0 occurs 2 times
V occurs 2 times
L occurs 12 times
1 occurs 2 times
O occurs 15 times
H occurs 11 times
U occurs 7 times
P occurs 8 times
C occurs 1 times
T occurs 19 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [38]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def countUnique(k):
    values, counts = numpy.unique(k, return_counts=True) #This function returns two vectors, values will contain all the numbers
    n = 0                                                #counted one time, counts tell us how many time they appear in the list
    list0 = []
    for h in values:
        list0.append(float(h))
        
    for i in values:
        if counts[n] != 1:                               #Here I remove the numbers that appear more than one time, in this way
            list0.remove(i)                              #I can count the unique numbers               
        n = n + 1
    
    print("There are "+str(len(list0))+" unique numbers:")
    print(values)


countUnique(l)

There are 37 unique numbers:
[ 1  3  5  8  9 10 16 18 19 20 24 30 31 33 34 36 37 39 41 42 45 47 50 51
 53 54 55 56 57 58 63 64 66 70 72 74 75 79 81 82 84 85 86 87 88 89 90 91
 92 94 95 96 98 99]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def cUnique(x):
    sset0 = set()
    list1 = []
    n = 0
    for i in x:
        sset0.add(i)  #In a set the duplicates are not allowed, so to have the vector values like before is sufficient add the
                      #elements.
    for j in sset0:
        count = 0
        for k in x:
            if k == j:
                count = count + 1 
        if count == 1:
            list1.append(j)
    
    print("There are "+str(len(list1))+" unique numbers:")
    print(list1)

        
    

cUnique(l)

There are 37 unique numbers:
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(k):
    k = k*k
    return k

def cube(k):
    k = k*k*k
    return k

def sixthPower(k):
    k = k*square(k)*cube(k)
    return k

a = 3

print(sixthPower(a))

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
new_list0 = []

for i in range(10):
    new_list0.append(cube(i))
    
print("a) a for loop:")
print(new_list0)

new_list1 = [cube(i) for i in range(10)]

print("b) a list comprehension:")
print(new_list1)

a) a for loop:
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
b) a list comprehension:
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
i = 0 
PythSolution = []

while i <= 100:
    a = i
    j = 0
    while j <= 100:
        b = j
        k = 0
        while k <= 100:
            c = k
            if a*a + b*b == c*c and a!=0 and b!=0 and c!=0: 
                PythSolution.append((a,b,c))
            k += 1
        j += 1
    i += 1
    

print(PythSolution)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (28, 96, 100), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (60, 80, 100), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
import numpy
def normalization(a):
    sum = 0
    new_a = ()
    
    for i in a:
        sum = sum + i*i
    
    for i in a:
        new_a = new_a + (i/numpy.sqrt(sum),)
        
        
    return new_a

a = (4, 4, 8, 2, 2)

print(normalization(a))

(0.3922322702763681, 0.3922322702763681, 0.7844645405527362, 0.19611613513818404, 0.19611613513818404)